* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.165;
}

:root {
  --more-gray-color: rgba(128, 128, 128, 0.808);
  --transparent-white-color: rgba(146, 146, 146, 0.2);
  --dark-color: rgba(84, 84, 84, 0.723);
  --transparent-dark-color: rgba(255, 255, 255, .2);
  --footer-font-size: 85%;
  --special-blue-color: #0077FF;
  --light-gray-color: rgb(227, 227, 227);
  --some-light-gray-color: rgb(204, 204, 204);
  --old-yellow-color: #f5e503;
  --special-red-color: #ff6262ed;
  --other-black-color: rgb(29, 29, 29);
  --some-black-color: rgb(31, 31, 31);
}

body {
  background-color: black;
  color: white;
  font-family: monospace;
  font-size: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* text-align: center; */
  /* height: 100vh; */
  /* overflow: hidden; */
}

@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }
}

.root {
  margin: 25px;
  width: 340px;
}

h3 {
  margin-bottom: 7px;
}

img {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

p, pre {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

a {
  text-decoration: none;
  color: var(--special-blue-color);
}

noscript p {
  font-size: 85%;
  color: var(--old-yellow-color);
  margin: 0;
  margin-top: 10px;
}

@media (prefers-color-scheme: light) {
  noscript p {
    color: var(--special-red-color);
  }
}

/*
  AB - кнопки с адаптивным изменением их ширины и количества
  рядов взависимости от размера экрана пользователя (фича
  добавлена 3 августа по запросам юзеров, ибо с маленьких
  телефончиков смотреть на кнопки слегка противно)
*/
.buttons {
  margin-top: 2px;
  display: flex; /* AB */
  flex-wrap: wrap; /* AB */
  margin-left: -5px; /* AB */
}

.buttons > a {
  color: white;
  background-color: black;
  text-decoration: none;
  cursor: grab;
  /* padding: 8px;
  padding-left: 16px;
  padding-right: 16px; */
  padding: 8px 11px; /* AB */
  display: inline-block;
  font-size: 90%;
  border: 2px solid white;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  /* margin-left: 5px; */
  margin: 5px 0 0 5px; /* AB */
  flex: 1 0 calc(25% - 32px); /* AB */
  text-align: center; /* AB */
}

/*
@-moz-document url-prefix() {
  .buttons > a {
    padding-left: 15px;
    padding-right: 15px;
  }
}
*/

@-moz-document url-prefix() {
  .buttons > a {
    font-weight: 600;
  }
}

.buttons > a:focus {
  background: var(--transparent-white-color);
}

.buttons > a:hover {
  background: var(--transparent-dark-color);
}

.buttons > a:active {
  color: black;
  background: white;
}

@media (prefers-color-scheme: light) {
  .buttons > a {
    color: black;
    background-color: white;
    border: 2px solid black;
  }

  .buttons > a:focus {
    background: var(--transparent-dark-color);
  }

  .buttons > a:hover {
    background: var(--transparent-white-color);
  }

  .buttons > a:active {
    color: white;
    background: black;
  } 
}

.projects .native {
  margin: 10px;
}

.projects .project {
  border: 0.16em solid var(--other-black-color);
  border-radius: 8px;
  margin-top: 10px;
}

@media (prefers-color-scheme: light) {
  .projects .project {
    border: 0.16em solid var(--light-gray-color);
  }
}

.projects .project a {
  color: white;
}

@media (prefers-color-scheme: light) {
  .projects .project a {
    color: black;
  }
}

.projects .header {
  display: flex;
  align-items: center;
  font-size: 95%;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.projects .header .link {
  color: gray;
}

@media (prefers-color-scheme: light) {
  .projects .header .link {
    color: var(--dark-color);
  }
}

.projects #blankImg {
  margin: 0 0 -1px -5px;
  width: 13px;
  height: 13px;
  border: none;
}

.projects img {
  width: 31px;
  margin-right: 8px;
  margin-bottom: -3px;
  border: 0.15em solid var(--some-black-color);
  border-radius: 7px;
}

@media (prefers-color-scheme: light) {
  .projects img {
    border: 0.15em solid var(--light-gray-color);
  }
}

.projects .description p {
  margin-top: 0.3em;
}

.line {
  color: gray;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.line::before {
  content: "- - - - - - - - - - - - - - -";
}

.footer {
  color: gray;
  font-style: italic;
  margin-top: 2px;
}

@media (prefers-color-scheme: light) {
  .footer {
    color: gray;
  }
}

.footer p {
  margin: 0;
  font-size: var(--footer-font-size);
}

.footer #quote {
  cursor: pointer;
}

.footer #commit {
  color: var(--more-gray-color);
}

.footer .copyrights {
  color: var(--more-gray-color);
  font-size: var(--footer-font-size);
}