* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.165;
}

:root {
  --more-gray-color: rgba(128, 128, 128, 0.808);
  --transparent-white-color: rgba(146, 146, 146, 0.2);
  --dark-color: rgba(84, 84, 84, 0.723);
  --transparent-dark-color: rgba(255, 255, 255, .2);
  --footer-font-size: 85%;
  --special-blue-color: #0077FF;
  --light-gray-color: rgb(227, 227, 227);
  --some-light-gray-color: rgb(204, 204, 204);
  --old-yellow-color: #f5e503;
  --special-red-color: #ff6262ed;
  --other-black-color: rgb(41, 41, 41);
  --some-black-color: rgb(31, 31, 31);
}

body {
  background-color: black;
  color: white;
  font-family: monospace;
  font-size: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }
}

.root {
  margin: 25px;
  width: 340px;
}

h3 {
  margin-bottom: 7px;
}

p, pre {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

a {
  text-decoration: none;
  color: var(--old-yellow-color);
}

@media (prefers-color-scheme: light) {
  a {
    color: var(--special-red-color);
  }
}

.buttons {
  margin-top: 2px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
}

.buttons > a {
  color: white;
  background-color: black;
  text-decoration: none;
  cursor: grab;
  padding: 8px 1em;
  font-size: 94%;
  border: 2px solid white;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  margin: 5px 0 0 5px;
  flex: 1 0 calc(25% - 32px);
  text-align: center;
}

@-moz-document url-prefix() {
  .buttons > a {
    font-size: 90%;
  }
}

.buttons > a:focus {
  background: var(--transparent-white-color);
}

.buttons > a:hover {
  background: var(--transparent-dark-color);
}

.buttons > a:active {
  color: black;
  background: white;
}

@media (prefers-color-scheme: light) {
  .buttons > a {
    color: black;
    background-color: white;
    border: 2px solid black;
  }

  .buttons > a:focus {
    background: var(--transparent-dark-color);
  }

  .buttons > a:hover {
    background: var(--transparent-white-color);
  }

  .buttons > a:active {
    color: white;
    background: black;
  } 
}

.cards .native {
  margin: 10px;
}

.cards > div {
  border: 0.16em solid var(--other-black-color);
  border-radius: 8px;
  margin-top: 10px;
}

@media (prefers-color-scheme: light) {
  .cards > div {
    border: 0.16em solid var(--light-gray-color);
  }
}

.cards > div a {
  color: white;
}

@media (prefers-color-scheme: light) {
  .cards > div a {
    color: black;
  }
}

.cards .header {
  display: flex;
  align-items: center;
  font-size: 95%;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.cards .link {
  color: gray;
  margin-left: auto;
}

@media (prefers-color-scheme: light) {
  .cards .link {
    color: var(--dark-color);
  }
}

.cards #blankImg {
  margin: 0 0 -3px -4px;
  width: 14px;
  height: 14px;
  border: none;
}

.cards img {
  width: 31px;
  margin-right: 8px;
  margin-bottom: -3px;
  border: 0.15em solid var(--some-black-color);
  border-radius: 7px;
}

@media (prefers-color-scheme: light) {
  .cards img {
    border: 0.15em solid var(--light-gray-color);
  }
}

.cards p {
  margin: 5px 3px 13px 2px;
  font-size: 94%;
}

.line::before {
  content: "- - - - - - - - - - - - - - -";
}

.footer {
  color: gray;
  font-style: italic;
  margin-top: 2px;
}

@media (prefers-color-scheme: light) {
  .footer {
    color: gray;
  }
}

.footer p {
  margin: 0;
  font-size: var(--footer-font-size);
}

.footer #quote {
  cursor: pointer;
}

.footer #commit, .copyrights {
  color: var(--more-gray-color);
}

.inputs {
  margin: 15px 0 0 0;
}

.inputs p {
  margin: 0 0 0 0;
}

.input-with-buttons {
  display: -webkit-flex;
}

input {
  background-color: black;
  color: white;
  height: 35px;
  border: 2px solid white;
  font-size: 80%;
  padding-left: 8px;
  width: 100%;
  margin-top: 5px;
  border-radius: 0px;
}

@media (prefers-color-scheme: light) {
  input {
    background-color: white;
    color: black;
    border: 2px solid black;
  }
}

input[readonly] {
  font-style: italic;
  color: rgba(255, 255, 255, 0.785);
}

.inputs > div:not(:first-child) {
  margin-top: 18px;
}

.input-with-buttons {
  display: -webkit-flex;
}

.left-input-buttons {
  margin-top: 0;
  margin-right: 5px;
}

.right-input-buttons {
  margin-left: 0;
  margin-top: 0;
}

noscript p {
  font-size: 85%;
  color: var(--old-yellow-color);
  margin: 0;
  margin-top: 10px;
}

@media (prefers-color-scheme: light) {
  noscript p {
    color: var(--special-red-color);
  }
}

#aka {
  background-color: var(--dark-color);
  border-radius: 5px;
}

#aka:before {
  content: "\00a0";
}

#aka:after {
  content: "\00a0";
}

@media (prefers-color-scheme: light) {
  #aka {
    background-color: var(--light-gray-color);
  }
}