* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.165;
}

:root {
  color-scheme: light dark;
  --text-color: light-dark(black, white);
  --background-color: light-dark(white, black);
  /* --link-color: light-dark(#0077FF, #f5e503); */
  --link-color: light-dark(#0077FF, rgb(92, 168, 255));
  --hover-link-color: light-dark(#0066db, rgb(71, 130, 196));
  --cards-link-color: light-dark(rgba(84, 84, 84, 0.723), gray);
  --warning-color: light-dark(#f5e503, #ff6262ed);
  --cards-border-color: light-dark(rgb(209, 209, 209), rgb(41, 41, 41));
  --cards-img-border-color: light-dark(rgb(209, 209, 209), rgb(31, 31, 31));
  --buttons-focus-color: light-dark(rgba(255, 255, 255, 0.2), rgba(84, 84, 84, 0.723));
  --buttons-hover-color: light-dark(rgba(146, 146, 146, 0.2), rgba(255, 255, 255, 0.2));
  --aka-color: light-dark(rgb(209, 209, 209, 0.67), rgba(84, 84, 84, 0.723));
  --italic-text-color: light-dark(rgba(128, 128, 128, 0.808), rgb(204, 204, 204));
  --note-text-color: light-dark(rgba(128, 128, 128, 0.808), rgb(179, 179, 179));
  --buttons-border-color: light-dark(rgb(209, 209, 209), rgba(255, 255, 255, 0.2));
  --button-active-color: light-dark(rgb(209, 209, 209), white);
}

.no-smoking {
  background-image: url("/files/images/no-smoking.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-attachment: fixed;
  justify-content: left;
  margin-left: 100px;
}

@media screen and (min-width:0px) and (max-width:1210px) {
  .no-smoking {
    background-image: none;
    margin-left: 0;
    justify-content: center;
  }
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: monospace;
  font-size: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
}

@media screen and (min-width:1350px) {
  body {
    zoom: 1.25;
  }
}

.root, .container {
  margin: 25px 15px 25px 15px;
  width: 335px;
}

.menu {
  display: flex;
  padding-bottom: 15px;
  color: gray;
}

.menu-items {
  margin-left: auto;
  gap: 5px;
  font-size: smaller;
}

.menu-items > a {
  /* color: #62abff; */
  color: rgb(161, 161, 161);
  font-size: 120%;
}

.heading p:first-of-type {
  font-size: 115%;
  font-weight: bold;
  margin-bottom: 7px;
  margin-top: 0;
}

p {
  margin-top: 0.6em;
  margin-bottom: 0.4em;
}

a {
  text-decoration: none;
  color: var(--link-color);
  transition: color 0.2s ease;
}

a:hover {
  color: var(--hover-link-color);
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
}

.buttons > a {
  color: var(--text-color);
  background-color: var(--background-color);
  cursor: grab;
  padding: 8px 10px;
  font-size: 94%;
  border: 2px solid var(--buttons-border-color);
  border-radius: 6px;
  user-select: none;
  -webkit-user-select: none;
  margin: 5px 0 0 5px;
  flex: 1 0 calc(25% - 32px);
  text-align: center;
  transition: background 0.25s ease;
}

@-moz-document url-prefix() {
  .buttons > a {
    font-size: 90%;
  }
}

.buttons > a:focus {
  background: var(--buttons-focus-color);
}

.buttons > a:hover {
  background: var(--buttons-hover-color);
}

.buttons > a:active {
  color: var(--background-color);
  background: var(--button-active-color);
}

/* @NOTE: fix size of buttons for too small displays, ex. iPhone SE 3rd generation (375x667px) */
@media screen and (min-width:0px) and (max-width:385px) {
  .buttons > a {
    padding: 7px;
  }
}

/* @NOTE: fix size of buttons for 364-390px width */
@media screen and (min-width:364px) and (max-width:390px) {
  .buttons > a {
    padding: 10px;
  }
}

.cards .native {
  margin: 10px;
}

.cards > div {
  border: 0.13em solid var(--cards-border-color);
  border-radius: 8px;
  margin-top: 10px;
}

.cards .header {
  display: flex;
  align-items: center;
  font-size: 95%;
  color: var(--text-color);
}

.cards .link {
  color: var(--cards-link-color);
  margin-left: auto;
}

.cards #symbol-icon {
  margin: 0 0 -3px -4px;
  width: 14px;
  height: 14px;
  border: none;
}

.cards img {
  width: 31px;
  height: 31px;
  margin-right: 8px;
  margin-bottom: -3px;
  border: 0.13em solid var(--cards-img-border-color);
  border-radius: 7px;
}

.cards p {
  margin: 5px 3px 13px 2px;
  font-size: 93%;
}

.cards p[fix="true"] {
  margin: 5px 3px 13px 0;
}

.line::before {
  content: "- - - - - - - - - - - - -";
}

footer, .footer {
  color: rgba(128, 128, 128, 0.808);
  font-style: italic;
}

footer p, .footer p {
  margin: 0;
  font-size: 85%;
}

.inputs {
  margin: 15px 0 0 0;
}

.inputs p {
  margin: 0 0 0 0;
}

.input-with-buttons {
  display: -webkit-flex;
}

input {
  background-color: var(--background-color);
  color: var(--text-color);
  height: 35px;
  border: 2px solid var(--text-color);
  font-size: 80%;
  padding-left: 8px;
  width: 100%;
  margin-top: 5px;
  border-radius: 0px;
}

input[readonly] {
  font-style: italic;
  color: rgba(255, 255, 255, 0.785);
}

.inputs > div:not(:first-child) {
  margin-top: 18px;
}

.input-with-buttons {
  display: -webkit-flex;
}

.left-input-buttons {
  margin-top: 0;
  margin-right: 5px;
}

.right-input-buttons {
  margin-left: 0;
  margin-top: 0;
}

noscript p {
  font-size: 85%;
  color: var(--warning-color);
  margin: 0;
  margin-top: 10px;
}

#aka {
  background-color: var(--aka-color);
  border-radius: 5px;
}

#aka:before {
  content: "\00a0";
}

#aka:after {
  content: "\00a0";
}

.italic {
  color: var(--note-text-color);
  font-style: italic;
}

.mini-icon {
  height: 13px;
  margin-bottom: -1px;
}

.note-text {
  color: var(--note-text-color);
}

.currency-note {
  color: var(--note-text-color);
  font-size: 110%;
}

.carousel {
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
}

.carousel > .slide {
  display: flex;
}

.carousel > .slide img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  object-fit: contain;
}

.carousel > a {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--text-color);
  background-color: var(--background-color);
  border: 2px solid var(--buttons-border-color);
  border: none;
  padding: 8px;
  cursor: grab;
  border-radius: 6px;
  font-size: 20px;
  transition: background 0.25s ease;
}

.carousel > a:hover {
  background: var(--buttons-hover-color);
}

.carousel > a:active {
  color: var(--background-color);
  background: var(--button-active-color);
}

.carousel > .previor-button {
  left: 10px;
}

.carousel > .next-button {
  right: 10px;
}

.banners {
  margin-top: 10px;
  margin-left: 1px;
}

.banners img {
  width: calc(25% - 5.36px);
  max-height: 31px;
  max-width: 88px;
  transition: transform 0.2s ease;
}

/* @NOTE: only for browsers on Webkit (e.g. Safari iOS/macOS, etc...)*/
@supports (-webkit-appearance: none) {
  .banners img {
    max-width: 77.62px;
  }
}

.banners img:hover {
  transform: scale(1.1);
  outline: 1px dotted white;
}