@font-face {
  font-family: "Exo 2";
  src: url("https://fonts.gstatic.com/s/exo2/v10/7cH1v4okm5zmbvwkAx_sfcEuiD8jvvKsOdC_.woff2")
}

* {
  box-sizing: border-box;
}

body {
  font-family: Tahoma, 'Segoe UI', sans-serif, emoji; /* "Exo 2", Tahoma, 'Segoe UI', sans-serif, system-ui, emoji */
  background: rgb(17, 17, 17);
  background: linear-gradient(74deg, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 1) 42%, rgba(0, 0, 0, 1) 92%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0px 15% 0px 15%;
}

body.white-theme {
  background: rgba(255, 255, 255, 0.944);
  background: linear-gradient(74deg, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, 1) 42%, rgba(255, 255, 255, 1) 92%);
}

.small-screen-list-buttons {
  display: none;
}

.block-with-tools {
  position: fixed;
  top: 12px;
  left: 34px;
  user-select: none;
  cursor: pointer;
}

.information-block-about-cookies {
  background-color: red;
  position: fixed;
  left: 50%;
  bottom: 0px;
  padding: 15px;
  max-width: 100%;
  transform: translateX(-50%);
}

@media only screen and (max-width : 992px) {
  body {
    margin: 0px 10% 0px 10%;
  }
}

@media only screen and (max-width : 905px) {
  .information-block-about-cookies {
    width: 900px;
  }
}

@media only screen and (max-width : 485px) {
  .big-screen-list-buttons {
    display: none;
  }

  .small-screen-list-buttons {
    display: block;
  }
}

/* scrollbar */
::-webkit-scrollbar {
  width: 12px;
  border-radius: 15px;
  background: #292929;
}

::-webkit-scrollbar-thumb {
  background: #1c1c1c;
  border-radius: 15px;
  -webkit-border-radius: 1ex;
  border: 2px solid #303030;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(22, 22, 22);
  border-radius: 15px;
  -webkit-border-radius: 1ex;
  border: 2px solid #303030;
}

.buttons {
  margin: 17px 0px 0px 0px;
  text-align: center;
}

.btn {
  display: inline-block;
  color: white;
  font-weight: 600;
  text-decoration: none;
  user-select: none;
  padding: .62em 1.98em;
  border: 2px solid;
  cursor: pointer;
}

.white-theme .btn {
  color: black;
}

.white-theme .information-block-about-cookies .btn {
  color: white;
}

.btn:focus {
  background: rgba(255, 255, 255, .2);
}

.white-theme .btn:focus {
  color: white;
  background: black;
}

.btn:hover {
  background: rgba(255, 255, 255, .2);
}

.white-theme .btn:hover {
  background: rgba(216, 216, 216, 0.323);
}

.btn-margin {
  margin: 5px 0px 0px 0px;
}

.btn:active {
  color: black;
  background: white;
}

.white-theme .btn:active {
  color: white;
  background: black;
}

.link-pink {
  color: #ff58ec;
  text-decoration: none;
}

.link-lightblue {
  color: rgba(114, 167, 253, 0.952);
  text-decoration: none;
}

h1 {
  color: #fff;
  font-size: 1.2rem;
}

.white-theme h1 {
  color: black;
}

hr {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 35px solid rgba(84, 84, 84, 0.1);
  cursor: not-allowed;
  border-radius: 5px;
}

.full-text::after {
  content: ' 🔎';
}

.full-text:hover::after {
  content: ' (' attr(hidden-text)')';
}

.big-text {
  font-size: 2rem;
}

.center-text {
  text-align: center;
}

.special-text-mark {
  color: whitesmoke;
}

.red-heart-emoji {
  margin: 0px 0px -4.7px 0px;
}

code.code-blue {
  background-color: #1ea3f5db;
  border-radius: 15px;
}

.footer {
  overflow: visible;
  text-align: center;
  user-select: none;
  cursor: pointer;
}

.footer-margin {
  margin: 5px 0px 0px 0px;
}

.small-size {
  font-size: 0.90rem;
}

.small-size-1 {
  font-size: 0.80rem;
}

.small-size-2 {
  font-size: 0.75rem;
}

.small-size-3 {
  font-size: 0.95rem;
}

.white-font {
  color: white;
}

.white-theme .white-font {
  color: black;
}

.white-theme .information-block-about-cookies.white-font {
  color: white;
}

.red-font {
  color: red;
}

.blue-font {
  color: blue;
}

.ultra-blue-font {
  color: #0077FF;
}

.green-font {
  color: green;
}

.yellow-font {
  color: yellow;
}

.white-theme .yellow-font {
  color: rgba(237, 237, 31, 0.893);
}

.orange-font {
  color: orange;
}

.purple-font {
  color: purple;
}

.black-font {
  color: black;
}

.white-theme .black-font {
  color: white;
}

.gray-font {
  color: gray;
}

.white-theme .gray-font {
  color: rgb(108, 108, 108);
}

.darkgray-font {
  color: darkgray;
}

.white-theme .darkgray-font {
  color: rgb(142, 142, 142);
}