:root {
  --white-color: white;
  --transparent-white-color: rgba(146, 146, 146, 0.2);
  --some-transparent-white-color: rgba(255, 255, 255, 0.944);
  --white-gradient: linear-gradient(74deg, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, 1) 42%, rgba(255, 255, 255, 1) 92%);
  --whitesmoke-color: whitesmoke;
  --red-color: red;
  --strong-blue-color: blue;
  --blue-color: #0077FF;
  --strong-lightblue-color: #1ea3f5db;
  --lightblue-color: rgba(114, 167, 253, 0.952);
  --green-color: green;
  --yellow-color: yellow;
  --orange-color: orange;
  --purple-color: purple;
  --gray-color: gray;
  --darkgray-color: darkgray;
  --transparent-dark-color: rgba(255, 255, 255, .2);
  --less-transparent-dark-color: rgba(216, 216, 216, 0.323);
  --black-color: black;
  --black-gradient: linear-gradient(74deg, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 1) 42%, rgba(0, 0, 0, 1) 92%);
  --pink-color: #ff58ec;
}

@font-face {
  font-family: "Exo 2";
  src: url("https://fonts.gstatic.com/s/exo2/v10/7cH1v4okm5zmbvwkAx_sfcEuiD8jvvKsOdC_.woff2")
}

* {
  box-sizing: border-box;
}

body {
  font-family: Tahoma, 'Segoe UI', sans-serif, emoji;
  /* "Exo 2", Tahoma, 'Segoe UI', sans-serif, system-ui, emoji */
  background: var(--black-gradient);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0px 15% 0px 15%;
}

body.white-theme {
  background: var(--white-gradient);
}

.block-with-tools {
  position: fixed;
  top: 12px;
  left: 34px;
  user-select: none;
  cursor: pointer;
}

.block-with-tools > a:first-of-type {
  margin: 0px 0px 0px 0px;
}

.block-with-tools > a {
  margin: 0px 0px 0px 10px;
}

.information-block-about-cookies {
  background-color: var(--red-color);
  padding: 15px;
  transform: translateX(-50%);
  max-width: 100%;
  bottom: 0px;
  position: fixed;
  left: 50%;
}

@media only screen and (max-width : 992px) {
  body {
    margin: 0px 10% 0px 10%;
  }
}

@media only screen and (max-width : 846px) {
  .information-block-about-cookies {
    width: 100%;
  }
}

@media only screen and (max-width : 1500px) {
  .information-block-about-cookies {
    width: 850px;
  }
}

@media only screen and (min-width : 1501px) {
  .information-block-about-cookies {
    width: 850px;
  }
}

.buttons-block > a {
  margin: 5px 0px 0px 0px;
}

.buttons-block > a { /* батон)) */
  display: inline-block;
  color: var(--white-color);
  font-weight: 600;
  text-decoration: none;
  user-select: none;
  padding: .62em 1.98em;
  border: 2px solid;
}

.white-theme .buttons-block > a {
  color: var(--black-color);
}

.white-theme .information-block-about-cookies .buttons-block > a {
  color: var(--white-color);
}

.buttons-block > a:focus {
  background: var(--transparent-dark-color);
}

.white-theme .buttons-block > a:focus {
  background: var(--transparent-white-color);
}

.buttons-block > a:hover {
  background: var(--transparent-dark-color);
}

.white-theme .buttons-block > a:hover {
  background: var(--less-transparent-dark-color);
}

.buttons-block > a:active {
  color: var(--black-color);
  background: var(--white-color);
}

.white-theme .buttons-block > a:active {
  color: var(--white-color);
  background: var(--black-color);
}

.link-pink {
  color: var(--pink-color);
  text-decoration: none;
}

.link-strong-lightblue {
  color: var(--strong-lightblue-color);
  text-decoration: none;
}

h1 {
  color: var(--white-color);
  font-size: 1.2rem;
}

.white-theme h1 {
  color: var(--black-color);
}

hr {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 35px solid rgba(84, 84, 84, 0.1);
  cursor: not-allowed;
  border-radius: 5px;
}

code.code-blue {
  background-color: var(--lightblue-color);
  border-radius: 15px;
}

.footer {
  user-select: none;
  cursor: pointer;
}

.footer-emoji {
  margin: 0px 0px -4.7px 0px;
}

.text-align-center { text-align: center; }

.margin-down-1 { margin: 5px 0px 0px 0px;}

.font-size-1 { font-size: 0.95rem; }
.font-size-2 { font-size: 0.90rem; }
.font-size-3 { font-size: 0.85rem; }
.font-size-4 { font-size: 0.80rem; }
.font-size-5 { font-size: 0.75rem; }
.font-size-6 { font-size: 0.70rem; }
.font-size-7 { font-size: 0.65rem; }
.font-size-8 { font-size: 0.60rem; }
.font-size-9 { font-size: 0.55rem; }
.font-size-10 { font-size: 0.50rem; }

.default-color-text,
.white-theme .information-block-about-cookies.default-color-text,
.white-theme .black-color-text {
  color: var(--white-color);
}

.white-theme .default-color-text {
  color: var(--black-color);
}

.red-color-text {
  color: var(--red-color);
}

.strong-blue-color-text {
  color: var(--strong-blue-color);
}

.blue-color-text {
  color: var(--blue-color);
}

.green-color-text {
  color: var(--green-color);
}

.yellow-color-text,
.white-theme .yellow-color-text {
  color: var(--yellow-color);
}

.orange-color-text {
  color: var(--orange-color);
}

.purple-color-text {
  color: var(--purple-color);
}

.black-color-text {
  color: var(--black-color);
}

.gray-color-text,
.white-theme .gray-color-text {
  color: var(--gray-color);
}

.darkgray-color-text,
.white-theme .darkgray-color-text {
  color: var(--darkgray-color);
}